.border-test {
  border: 1px solid red;
}
$circle-unit: 60px;
.circle {
  width: $circle-unit;
  height: $circle-unit;
  min-width: $circle-unit;
  min-height: $circle-unit;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

$circle-unit: 20px;
.circle-sm {
  width: $circle-unit;
  height: $circle-unit;
  min-width: $circle-unit;
  min-height: $circle-unit;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-dashed {
  border-top: 1px dashed $accent-lighter;
}

.line-solid {
  border-top: 1px solid $accent-lighter;
}

.pointer {
  cursor: pointer;
}
