
// primary light colours
$shamrock: #37cfb1;
$sundown: #ffb0b0;
$marigold: #ffe063;
$royal-blue: #4749f4;
$dark-blue: #0c00a9;
$gulf-stream: #7bb7ae;

$spindle: #c0d0ee;
$gull-grey: #5f768f;
$fjord: #445672;
$rhino: #293554;
$black-pearl: #1f2932;

// Accent colours
$accent-light: #a2afcd;
$accent-lighter: #dfe6f4;
$accent-lightest: #f0f3f6;

$white:#fff;
