.rotate-up-45 {
  transition: transform 0.3s ease-in-out;
  transform: rotate(-45deg);
}
.rotate-down-45 {
  transition: transform 0.3s ease-in-out;
  transform: rotate(45deg);
}
.rotate-up-90 {
  transition: transform 0.3s ease-in-out;
  transform: rotate(-90deg);
}
.rotate-down-90 {
  transition: transform 0.3s ease-in-out;
  transform: rotate(-90deg);
}
.rotate-infinite {
  animation: rotate 1.5s linear infinite;
}

@keyframes animation {
  to {
    transform: rotate(360deg);
  }
}
