.radius-2{
  border-radius: 5px;
}
.radius-4{
  border-radius: 7px;
}
.radius-6{
  border-radius: 10px;
}
.radius-8{
  border-radius: 14px;
}
.radius-10{
  border-radius: 20px;
}
.radius-full{
  border-radius:999px;
}