.base-icon-styles {
  width: 20px;
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    display: flex;
    font-size: 25px;
  }
}

.success-icon {
  @extend .base-icon-styles;
  background-color: $shamrock;
  color: $blue-ribbon;
}

.warning-icon {
  @extend .base-icon-styles;
  background-color: $warning;
  color: $white;
}
.warning-icon {
  @extend .base-icon-styles;
  background-color: $warning;
  color: $white;
}

.icon-notification {
  position: relative;
  span {
    width: auto;
    min-width: 17px;

    position: absolute;
    top: -28%;
    right: -2px;
    border: 2px solid $blue-ribbon;
    border-radius: 6px;

    background-color: white;

    font-size: 12px;
    color: $blue-ribbon;
    font-weight: bold;
    text-align: center;
  }
}
