.base-input-styles {
  display: inline-block;

  padding: 10px 15px;
  border: 1px solid $spindle;
  border-radius: 10px;

  outline: none !important;
  background: white;
  transition: all 0.2s ease-in-out;
  &:focus,
  :active {
    border: 1px solid $blue-ribbon;
    color: $blue-ribbon;
    outline: none !important;
  }
  &::placeholder {
    color: $gull-grey;
  }
}

.input-text {
  @extend .base-input-styles, .type-normal;
  padding: 15px 20px;
}

.input-select {
  @extend .base-input-styles, .type-normal;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  select {
    @extend .type-normal;
    color: $gull-grey;
    border: none;
    outline: none;
    option {
      color: $gull-grey;
    }
  }
}
