.base-label-styles {
  width: auto;

  border: 2px solid $blue-ribbon;
  border-radius: 6px;
  padding: 0 4px;

  background-color: $blue-ribbon;

  font-size: 12px;
  color: $white;
  font-weight: bold;
  text-align: center;
}

.info-label {
  @extend .base-label-styles;
}
