
@tailwind base;

/**
 * Abstracts classes and styles
 */
@import "abstracts/variables";
@import "abstracts/mixins";
@import "components/card";
@import "states/elevation";

/**
 * Base classes and styles
 */
@import "base/typography";

@tailwind utilities;

.border-test {
  border: 1px solid red;
}
.card {
  width: 220px;
  height: 405px;
  position: relative;
  overflow: hidden;
  img.card-image {
    width: 70%;

  }
  .title {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 30px;
    .title-text {

      color: black;
      font-size: 28px;
      &.red {
        color: #fbe16f;
      }
    }
    &.reverted {
      top: auto;
      left: auto;
      bottom: 5px;
      right: 15px;
      transform: scaleY(-1);
    }
  }
}
.main-card {
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  &.expanded {
    .content {
      display: block;
    }
  }
  .content {
    position: relative;
  }
}